<section id='projects'>
  <h4 class='title'>Projects</h4>

  <nav class='main-nav projects'>
    <ul class='project-nav'>
      <li><%= link_to 'Front End', frontend_path %></li>
      <li><%= link_to 'Ember', ember_path %></li>
      <li><%= link_to 'Rails', rails_path %></li>
    </ul>
  </nav>

  <br>
  <% @images.each do |image| %>
    <%= image_tag image, class:'project-image' %>
  <% end %>
</section>