<section id="about">
  <h4 class='title'>About Me</h4>
  <div class='well'>
    <%= image_tag 'self.png', class:'self-image' %>
    <p class='self-description'>Software Devloper, ardent problem solver, teacher and lifelong learner. Currently working on all things related to web development.</p>
    <dl class='education'>
      <dt class='label-header'>Education</dt>
      <dt class='label'>MBA</dt>
        <dd class='description'>California State University Stanislaus </dd>
      <dt class='label'>Six Sigma Black Belt</dt>
        <dd class='description'>California State University Stanislaus</dd>
      <dt class='label'>B.S. Business Administration</dt>
        <dd class='description'>California State University Stanislaus</dd>
      <dt class='label'></dt>
    </dl>

  </div>
</section>
