<section id="contact">
  <h4 class='title'>Contact Me</h4>
  <div class='contact-details'>
    <ul>
      <li>Logan Rice</li>
      <li><a href="https://github.com/loganrice">https://github.com/loganrice</a>
      <li>LoganRice72@Gmail.com</li>
    </ul>
  </div>
</section>