/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'reset';

$navbar-color: #222222;
$navbar-font-color: #999;
$navbar-font-hover-color: #fff;
$font: "Helvetica Neue",Helvetica,Arial,sans-serif;

body {
  background-color: #c9cacc;
}

.main-nav {
  ul {
    float: left;
    width: 100%;
    margin: 0 0 3em 0;
    padding: 0;
    list-style-type: none;
    background-color: $navbar-color;
    li {
      float: left;
      a {
        display: block;
        padding: 18px 15px;
        font-size: 14px;
        font-family: $font;
        color: $navbar-font-color;
        text-decoration: none;
        &:hover {
          color: $navbar-font-hover-color;
        }
      }
    }
  }
}

.title {
  font-family: $font;
  font-size: 24px;
  padding: 15px;
}

.project-image {
  width: 250px;
}

.projects {
  ul {
    background-color: transparent;
    li {
      a {
        color: #2a6496;
        &:hover {
        color: #2a6496;
        background-color: #eee;
        }
      }
    }
  }
}

#projects, #about {
  padding: 25px;
}

.well {
  background-color: #eee;
  height: 400px;
  padding-top: 30px;
}

.self-image {
  height: 100%;
  float: left;
}

.self-description {
  font-size: 21px;
}

.education {
  border: 1px solid #ddd;
  width: 275px;
  float: left;
  margin: 30px;
  font-family: $font;
  .label-header {
    font-size: 16px;
    font-weight: 700;
    padding: 8px;
  }
  .label {
    @extend .label-header;
    background-color: white;
  }
  .description {
    padding: 0 5px 0 15px;
    background-color: white;
    font-size: 85%;
  }
}

#contact {
  margin: 0 40px 0 40px;
}

.contact-details {
  background-color: white;
  border-radius: 4px;
  font-family: $font;
  ul {
    li {
      border-bottom: 1px solid #ddd;
      padding: 15px;
      a {
      text-decoration: none;
      }
    }
  }
}