/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'reset';

$navbar-color: #222222;
$navbar-font-color: #999;
$navbar-font-hover-color: #fff;

.main-nav {
  ul {
    float: left;
    width: 100%;
    margin: 0 0 3em 0;
    padding: 0;
    list-style-type: none;
    background-color: $navbar-color;
    li {
      float: left;
      a {
        display: block;
        padding: 8px 15px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        color: $navbar-font-color;
        text-decoration: none;
        &:hover {
          color: $navbar-font-hover-color;
        }
      }
    }
  }
}